@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,600;1,800;1,900&display=swap');


:root {
  --primary-color: #fd4d4d;
  --secondary-color: #fd2b2b;
  --dark-color: #fd4d4d;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
  --annbar-color: #5865F2;
  --info-color: #1567e0;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/*tooltip*/


.tooltip {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black;  If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 3in;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

body {
  font-family: 'Lexend', sans-serif;
  color: #333;
  line-height: 1.6;

 /* font-family: 'Palette Mosaic', cursive;

  font-family: 'Montserrat', sans-serif;*/
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 400;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

.hidden {
  visibility: hidden;
  height: 0;
}

/* Navbar */
.navbar {
  background: rgb(253,77,77);
  background: linear-gradient(90deg, rgba(253,77,77,1) 0%, rgba(224,47,147,1) 38%, rgba(222,45,152,1) 49%, rgba(185,5,244,1) 100%); 
  color: #fff;
  height: 60px;
  
}

.tostext {
  padding: 1in;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 5px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}

/*Announcement */

.ann {
  background: rgb(253,77,77);
  background: linear-gradient(90deg, rgba(253,77,77,1) 0%, rgba(224,47,147,1) 38%, rgba(222,45,152,1) 49%, rgba(185,5,244,1) 100%);
  color: #fff;
  height: 65px;
}

.anntextcolor {
  color: #ccc;
}

/* Showcase */
.showcase {
  height: 400px;
  background: rgb(253,77,77);
  background: linear-gradient(90deg, rgba(253,77,77,1) 0%, rgba(224,47,147,1) 38%, rgba(222,45,152,1) 49%, rgba(185,5,244,1) 100%); 
  color: #fff;
  position: relative;
}

.showcase h1 {
  font-size: 50px;
    animation: slideInFromRight 1s ease-in;
}

.showcase p {
  margin: 20px 0;
  animation: slideInFromRight 1s ease-in;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% auto;
  gap: 30px;
  animation: slideInFromRight 1s ease-in;
}

.showcase-text {
  animation: slideInFromLeft 1s ease-in;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
  animation: slideInFromRight 1s ease-in;
}

.showcase-formon {
  position: relative;
  top: 60px;
  height: 2in;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
  animation: slideInFromRight 1s ease-in;
}

.showcase-form-contact {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
  animation: slideInFromRight 1s ease-in;
}

.showcase-form .form-control1 {
  margin: 20px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border: 0;
  border-bottom: 5px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}

.showcase::before,
.showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

/* Stats */
.stats {
  padding-top: 100px;

}

.stats-heading {
  max-width: 500px;
  margin: auto;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

/* why */
.stats {
  padding-top: 100px;

}

.why-heading {
  max-width: 500px;
  margin: auto;
}

.why .grid h3 {
  font-size: 35px;
}

.why .grid p {
  font-size: 20px;
  font-weight: bold;
}


/* Cli */
.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

/* Cloud */
.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

/* Languages */

.languages .flex {
  flex-wrap: wrap;
}

.languages .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}

.languages .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.languages .card:hover {
  transform: translateY(15px);
  background: rgb(253,77,77);
  background: linear-gradient(90deg, rgba(253,77,77,1) 0%, rgba(224,47,147,1) 38%, rgba(222,45,152,1) 49%, rgba(185,5,244,1) 100%);
}

/* Features */
.features-head img,
.docs-head img {
  width: 200px;
  justify-self: flex-end;
}

.features-sub-head img {
  width: 300px;
  justify-self: flex-end;
}

.features-main .card > i {
  margin-right: 20px;
}

.features-main .card:hover {
  transform: translateY(15px);
  background: rgb(253,77,77);
  background: linear-gradient(90deg, rgba(253,77,77,1) 0%, rgba(224,47,147,1) 38%, rgba(222,45,152,1) 49%, rgba(185,5,244,1) 100%);
}

.features-main .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}

.features-main .grid {
  padding: 30px;
}

.features-main .grid > *:first-child {
  grid-column: 1 / span 3;
}

.features-main .grid > *:nth-child(2) {
  grid-column: 1 / span 2;
}

/* Docs */
.docs-main h3 {
  margin: 20px 0;
  
  
}




.docs-main .grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.docs-main nav li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px #ccc solid;
}

.docs-main a:hover {
  font-weight: bold;
}

/* Footer */
.footer .social a {
  margin: 0 0px;
}
.footer{
  margin: 0 0px;
  background: rgb(253,77,77);
  background: linear-gradient(90deg, rgba(253,77,77,1) 0%, rgba(224,47,147,1) 38%, rgba(222,45,152,1) 49%, rgba(185,5,244,1) 100%);
}


/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Tablets and under */
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-main .grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 1s ease-in;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
  
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }

  .features-head,
  .features-sub-head,
  .docs-head {
    text-align: center;
  }

  .features-head img,
  .features-sub-head img,
  .docs-head img {
    justify-self: center;
  }

  .features-main .grid > *:first-child,
  .features-main .grid > *:nth-child(2) {
    grid-column: 1;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .showcase-form {
    width: 300px;
  }

  
  ul {
    list-style-type: none;
  }
  
  a {
    color: #e95846;
    text-decoration: none;
  }
  
  .pricing-table-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.6em;
    color: #FFF;
    margin-top: 15px;
    text-align: left;
    margin-bottom: 25px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  }
  
  .pricing-table-title a {
    font-size: 0.6em;
  }
  
  .clearfix:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
    clear: both;
  }
  /** ========================
   * Contenedor
   ============================*/
  .pricing-wrapper {
    width: 960px;
    margin: 40px auto 0;
  }
  
  .pricing-table {
    margin: 0 10px;
    text-align: center;
    width: 300px;
    float: left;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.4);
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .pricing-table:hover {
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
  }
  
  .pricing-title {
    color: #FFF;
    background: #e95846;
    padding: 20px 0;
    font-size: 2em;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  }
  
  .pricing-table.recommended .pricing-title {
    background: #2db3cb;
  }
  
  .pricing-table.recommended .pricing-action {
    background: #2db3cb;
  }
  
  .pricing-table .price {
    background: #403e3d;
    font-size: 3.4em;
    font-weight: 700;
    padding: 20px 0;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  }
  
  .pricing-table .price sup {
    font-size: 0.4em;
    position: relative;
    left: 5px;
  }
  
  .table-list {
    background: #FFF;
    color: #403d3a;
  }
  
  .table-list li {
    font-size: 1.4em;
    font-weight: 700;
    padding: 12px 8px;
  }
  
  .table-list li:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #3fab91;
    display: inline-block;
    position: relative;
    right: 5px;
    font-size: 16px;
  } 
  
  .table-list li span {
    font-weight: 400;
  }
  
  .table-list li span.unlimited {
    color: #FFF;
    background: #e95846;
    font-size: 0.9em;
    padding: 5px 7px;
    display: inline-block;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
  }
  
  
  .table-list li:nth-child(2n) {
    background: #F0F0F0;
  }
  
  .table-buy {
    background: #FFF;
    padding: 15px;
    text-align: left;
    overflow: hidden;
  }
  
  .table-buy p {
    float: left;
    color: #37353a;
    font-weight: 700;
    font-size: 2.4em;
  }
  
  .table-buy p sup {
    font-size: 0.5em;
    position: relative;
    left: 5px;
  }
  
  .table-buy .pricing-action {
    float: right;
    color: #FFF;
    background: #e95846;
    padding: 10px 16px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-weight: 700;
    font-size: 1.4em;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .table-buy .pricing-action:hover {
    background: #cf4f3e;
  }
  
  .recommended .table-buy .pricing-action:hover {
    background: #228799;	
  }
  
  /** ================
   * Responsive
   ===================*/
   @media only screen and (min-width: 768px) and (max-width: 959px) {
     .pricing-wrapper {
       width: 768px;
     }
  
     .pricing-table {
       width: 236px;
     }
    
    .table-list li {
      font-size: 1.3em;
    }
  
   }
  
   @media only screen and (max-width: 767px) {
     .pricing-wrapper {
       width: 420px;
     }
  
     .pricing-table {
       display: block;
       float: none;
       margin: 0 0 20px 0;
       width: 100%;
     }
   }
  
  @media only screen and (max-width: 479px) {
    .pricing-wrapper {
      width: 300px;
    }
  } 
  
}
